<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appsteam.motivision">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".Splashscreen.SplashScreen"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".circular_Progress.Progress"
            android:theme="@style/ProgressActivityTheme" />
        <activity
            android:name=".Login.MainActivity"
            android:theme="@style/AppThemelogin" />
        <activity
            android:name=".Login.Registration"
            android:theme="@style/LoginActivityTheme" />
        <activity android:name=".Login.ForgotPassword" />
        <activity
            android:name=".Login.ResetPassword"
            android:theme="@style/AppThemelogin" />
        <activity android:name=".Home.Home_Activity"
            android:theme="@style/ProgressActivityTheme"/>
        <activity android:name=".Home.Add_Activity"
            android:theme="@style/ProgressActivityTheme"/>
        <activity android:name=".Home.Edit_Profile_Activity"
            android:theme="@style/ProgressActivityTheme"/>
        <activity android:name=".Home.Pofile_Activity"
            android:theme="@style/ProgressActivityTheme"></activity>
    </application>

</manifest>